
<h2>Welcome <%=@user.username%></h2>


<% if !@user.restaurants.empty? %>
    <p>Here's a list with your restaurants:</p>
    <%@user.restaurants.each do |r|%>
        <div>
        <p> Restaurant's name: <%= r.name %> Restaurant's category: <%=r.category%></p>
        <% r.reviews.each do |review|%>
          <% if review.user_id == @user.id %>
                <p><%= review.description%></p>
            <%end%>
        <%end%>
        </div>
    <%end%>
    <%else%>
    <p>You have no reviews yet</p>
<%end%>