<h1> These are all the restaurants </h1>

    <% @restaurants.map do |r| %>
        <div>
        <h3><%=r.name%></h3> <%= link_to('View page', "restaurants/#{r.id}") %>
        <p><%=r.description%></p>
        <p><%=r.category%></p>
        </div>
    <% end %>